* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.background{
    background-image: url();
    width: 80%;
    margin: auto;
    background-color: gold;
}

h1, h2{
    text-align: center;
}

form{
    /* background-color: aqua; */
    align-items: center;
    width: 40%;
    margin: auto;
    font-size: large;
    font-style: italic;
    /* text-align: center; */
}

input{
    padding: 0 20px;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0;
    line-height: 30px;
}


.button{
    text-align: center;
}

button{
    width: 100%;
    padding: 10px 0;
    /* color: greenyellow; */
    background-color: greenyellow;
    margin: 10px 0;
}